@import '~@s-ui/theme/lib/index';

.kikilo-DictionaryQuizSum {
  // Do your magic
}

.kik-Sum-Container {
  user-select: none;
  font-size: 40px;
  text-align: center;
}

.kik-Sum-result {
  width: 80px;
}

.kik-Sum-resolve {
  margin: 10px 24px;
  display: inline-block;
}

.kik-Sum-new-quiz {
  margin: 10px 24px;
  display: inline-block;
}

.kik-Sum-button {
  font-size: 41px;
  border: 2px solid #1b1f23;
  border-radius: 20px;
}

.kik-Hit {
  color: green;
}

.kik-Fail {
  color: red;
}
